@page
  size: landscape

@media print
  button,
  footer,
  h1,
  h2,
  header,
  header *,
  section:not(:first-of-type)
    display: none !important

  figure,
  main,
  svg
    margin: 0 !important
    padding: 0 !important

  figcaption
    span
      color: black !important

      span
        -webkit-print-color-adjust: exact

  svg
    -webkit-print-color-adjust: exact
    height: 95%

    text:not(.standard), .vx-line
      fill: black

    #currentSprint
      display: none
