@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600')

spacing = 8px

bgColor = #171b32
bgColorLight = #252c48

darker = #8f90a4
lighter = #ede7ed

resetList(margin = 2*spacing)
  display: flex
  flex-flow: row nowrap
  list-style: none
  margin: 0
  padding: 0

  li:not(:last-child)
    margin-right: margin

.category, .sprint
  align-items: center
  display: flex
  flex-flow: row nowrap
  font-weight: 600
  margin: spacing 0

  &.dark
    color: darker

.category
  span
    border-radius: 2px
    content: ''
    display: inline-block
    margin-right: spacing
    height: 2*spacing
    width: 2*spacing

.sprint::before
  content: url(./assets/sprint.svg)
  margin-right: spacing

.defect
  background: bgColorLight
  padding: 2*spacing

  p
    font-weight: 200
    margin: spacing 0 2*spacing

body
  background: bgColor
  box-sizing: border-box
  color: ede7ed
  font-family: 'Source Sans Pro', sans-serif
  font-size: 2 * spacing
  font-weight: 400
  margin: 0
  padding: 0
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

a
  color: lighter

header
  align-items: center
  background: bgColorLight
  display: flex
  flex-flow: row nowrap
  height: 7 * spacing
  padding: 0 3 * spacing

  p
    font-weight: 600
    font-size: 1.25em
    margin: 0 2*spacing 0 0
    text-transform: uppercase

  nav ul
    resetList()

main
  padding: 6 * spacing

  h1
    color: lighter
    font-size: 6*spacing
    font-weight: 600
    margin: 0 0 3*spacing

  h2
    color: darker
    font-size: 1em
    margin: 2*spacing 0
    text-transform: uppercase

  h3
    color: lighter
    font-size: 1.5em
    margin: 0 0 spacing 0

  figure
    align-items: flex-start
    display: flex
    flex-flow: column nowrap
    margin: 2*spacing 0

    figcaption
      width: 100%

      ul
        resetList()

        li
          font-weight: 600

    svg
      margin: 8*spacing 0

  .defects
    ol
      resetList()
      flex-flow: row wrap

      li
        flex-grow: 1
        margin-bottom: 2*spacing
        max-width: 'calc(25% - %s)' % (2 * spacing)
        width: 20%
