@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600')

spacing = 8px

bgColor = #171b32
bgColorLighter = #3C4460

darker = #8f90a4
lighter = #ede7ed

resetList(margin = 2*spacing)
  align-items: center
  display: flex
  flex-flow: row nowrap
  list-style: none
  margin: 0
  padding: 0

  li:not(:last-child)
    margin-right: margin

body
  background: bgColor
  box-sizing: border-box
  color: lighter
  font-family: 'Source Sans Pro', sans-serif
  font-size: 2 * spacing
  font-weight: 400
  margin: 0
  padding: 0
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

a
  color: lighter

main
  label
    display: inline-block
    margin-right: spacing
    min-width: 15 * spacing

  .defects
    ol
      resetList()
      align-items: flex-start
      flex-flow: row wrap

      li
        flex-grow: 1
        margin-bottom: 2*spacing
        max-width: 'calc(25% - %s)' % (2 * spacing)
        width: 20%

  .labels
    ul
      resetList()
      flex-flow: row wrap

      li
        align-items: center
        display: flex
        flex-flow: row nowrap
        flex-grow: 1
        width: 20%

        &:nth-child(4n)
          margin-right: 0

        input
          margin-right: spacing
